@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-15deg);
    }
    60% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(0deg);
    }
}
.fig-consent-banner {
    background-color: #fff;
    border-top: 1px solid #163860;
    bottom: 0;
    gap: 16px;
    left: 0;
    padding: 16px 16px 24px;
    position: fixed;
    width: 100%;
    z-index: 1200;
}
@media (min-width: 48em) {
    .fig-consent-banner {
        align-items: center;
        display: flex;
        gap: 48px;
        padding: 48px 32px;
        place-content: center center;
    }
}
.fig-consent-banner--hidden {
    display: none;
}
@media (min-width: 48em) {
    .fig-consent-banner__container {
        display: flex;
        flex-basis: 416px;
        flex-flow: row wrap;
    }
}
@media (min-width: 64em) {
    .fig-consent-banner__container {
        flex-basis: 616px;
    }
}
.fig-consent-banner__title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.375;
}
@media (min-width: 48em) {
    .fig-consent-banner__title {
        flex-basis: 100%;
        font-size: 1.25rem;
        line-height: 1.4;
    }
}
@media (min-width: 64em) {
    .fig-consent-banner__title {
        font-size: 1.5rem;
        line-height: 1.3333333333;
    }
}
.fig-consent-banner__content {
    font-family: source-sans-pro, Arial, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue,
        Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.375;
    margin-top: 8px;
}
@media (min-width: 48em) {
    .fig-consent-banner__content {
        margin-top: 16px;
    }
}
@media (min-width: 64em) {
    .fig-consent-banner__content {
        font-size: 1.25rem;
        line-height: 1.4;
    }
}
.fig-consent-banner__content-modify {
    font-size: 0.875rem;
    line-height: 1.4285714286;
    margin-top: 16px;
}
@media (min-width: 48em) {
    .fig-consent-banner__content-modify {
        font-size: 1rem;
        line-height: 1.375;
        margin-top: 24px;
    }
}
.fig-consent-banner__content strong {
    font-weight: 600;
}
@media (max-width: 47.99em) {
    .fig-consent-banner__action {
        margin-top: 16px;
    }
}
.fig-consent-banner__button {
    -webkit-appearance: none;
    background-color: #163860;
    border: 1px solid #163860;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-family: source-sans-pro, Arial, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue,
        Helvetica, sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.4285714286;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease, background-color 0.3s ease,
        border-color 0.3s ease;
    width: 100%;
}
.fig-consent-banner__button::-moz-focus-inner {
    border: 0;
}
@media (max-width: 47.99em) {
    .fig-consent-banner__button {
        display: block;
    }
}
@media (min-width: 48em) {
    .fig-consent-banner__button {
        min-width: 240px;
    }
}
.fig-consent-banner__button:focus,
.fig-consent-banner__button:hover {
    background-color: #1f66ba;
    border-color: #1f66ba;
    color: #fff;
}
.fig-consent-banner__button:active {
    background-color: #5e7287;
    border-color: #5e7287;
    color: #fff;
}
.fig-consent-banner__subscribe {
    background-color: #fff;
    border: 1px solid;
    color: #163860;
    cursor: pointer;
    display: block;
}
.fig-consent-banner__subscribe:focus,
.fig-consent-banner__subscribe:hover {
    background-color: #fff;
    border-color: #1f66ba;
    color: #1f66ba;
}
.fig-consent-banner__subscribe:active {
    background-color: #fff;
    border-color: #5e7287;
    color: #5e7287;
}
.fig-consent-banner__or {
    display: block;
    font-family: source-sans-pro, Arial, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue,
        Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.375;
    margin-bottom: 8px;
    margin-top: 8px;
    text-align: center;
}
