@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-15deg);
    }
    60% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(0deg);
    }
}
.fig-bottom .fig-ad-content {
    padding-bottom: 16px;
    padding-top: 16px;
}
.fig-bottom .fig-ad-content--empty {
    padding: 0;
}
.fig-bottom .fig-ad-content--mban_btf {
    margin-left: -16px;
    margin-right: -16px;
    padding: 0;
}
@media (min-width: 48em) {
    .fig-bottom .fig-ad-content--mban_btf {
        margin-left: -32px;
        margin-right: -32px;
    }
}
.fig-comments + .fig-bottom .fig-ad-content__mban {
    margin-top: 32px;
}
.fig-bottom .fig-wrapper-flex-column__1-of-3 .fig-ad-content {
    padding-top: 0;
}
@media (min-width: 80em) {
    .fig-layout-1280
        .fig-bottom
        .fig-wrapper-flex-column__1-of-3
        .fig-ad-content {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}
.fig-bottom .fig-wrapper-flex-column__1-of-3 .fig-ad-content--pave_btf {
    position: -webkit-sticky;
    position: sticky;
}
.fig-bottom
    .fig-comments
    + .fig-wrapper.fig-zone-bottom
    .fig-wrapper.fig-ad-content__mban {
    margin-top: 32px;
}
