@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-15deg);
    }
    60% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(0deg);
    }
}
.fig-app-banner {
    background-color: #d3e7ff;
    bottom: 0;
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 612;
}
@media (min-width: 64em) {
    .fig-app-banner {
        display: none;
    }
}
.fig-app-banner--tabbar {
    bottom: 52px;
}
.fig-app-banner--hidden {
    opacity: 0;
    top: 100%;
    visibility: hidden;
    z-index: -1;
}
.fig-app-banner__container {
    align-items: center;
    display: flex;
    flex: 1 1 100%;
    justify-content: space-between;
}
@media (min-width: 48em) {
    .fig-app-banner__container {
        margin-left: auto;
        margin-right: auto;
        max-width: 736px;
    }
}
.fig-app-banner__link {
    align-items: center;
    display: flex;
    flex: 1 1 calc(100% - 64px);
    gap: 16px;
    height: 100%;
    justify-content: space-between;
    padding: 8px 56px 8px 16px;
    text-decoration: none;
}
@media (min-width: 48em) {
    .fig-app-banner__link {
        padding-left: 32px;
    }
}
.fig-app-banner__logo {
    display: flex;
    flex: 1 0 40px;
    width: 40px;
}
.fig-app-banner__content {
    flex: 1 1 100%;
    font-family: source-sans-pro, Arial, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue,
        Helvetica, sans-serif;
}
.fig-app-banner__subtitle,
.fig-app-banner__title {
    display: block;
}
.fig-app-banner__title {
    color: #163860;
    font-size: 0.875rem;
    line-height: 1.4285714286;
}
.fig-app-banner__subtitle {
    color: #727272;
    font-size: 0.875rem;
    line-height: 1.4285714286;
}
.fig-app-banner__close-btn.fig-close-button {
    top: 50%;
    transform: translateY(-50%);
}
