@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-15deg);
    }
    60% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(0deg);
    }
}
.fig-related-content {
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 48em) {
    .fig-related-content {
        max-width: 704px;
    }
}
@media (min-width: 64em) {
    .fig-related-content {
        max-width: 616px;
    }
}
.fig-related-content:not(:first-child) {
    border-top: 1px solid #ccc;
    margin-top: 32px;
    padding-top: 32px;
}
.fig-related-content__title {
    color: #1f66ba;
    font-family: source-sans-pro, Arial, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue,
        Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 16px;
}
.fig-related-content__item:first-child .fig-ranking-profile-container {
    border-top: none;
    padding-top: 0;
}
