@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-15deg);
    }
    60% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(0deg);
    }
}
.fig-wrapper-flex-column__2-of-3
    .fig-ranking-profile-small-picture:first-child
    .fig-ranking-profile-link:before,
.fig-zoom
    + .fig-ranking-profile-small-picture
    .fig-ranking-profile-link:before {
    top: 0;
}
