@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-15deg);
    }
    60% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(0deg);
    }
}
.fig-ranking-profile-link {
    display: block;
    position: relative;
    text-decoration: none;
    z-index: 1;
}
.fig-ranking-profile-link--hover,
.fig-ranking-profile-link--hover:visited {
    color: #1f66ba;
}
.fig-ranking-profile-link:focus
    + .fig-ranking-profile-main-media-video
    .fig-ranking-profile-main-media-video__svg,
.fig-ranking-profile-link:hover
    + .fig-ranking-profile-main-media-video
    .fig-ranking-profile-main-media-video__svg {
    fill: #1f66ba;
}
