@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-15deg);
    }
    60% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(0deg);
    }
}
.fig-main
    > .fig-ad-content:not(
        :empty,
        [class*="fig-ad-content--native"],
        [class*="fig-ad-content--empty"]
    ) {
    padding-bottom: 16px;
    padding-top: 16px;
}
.fig-main > .fig-ad-content--native_atf {
    padding-bottom: 0;
    padding-top: 0;
}
.fig-main .fig-ad-content--pave_atf {
    border-top: none;
    padding-bottom: 32px;
    padding-top: 32px;
}
