@font-face {
    font-display: swap;
    font-family: source-sans-pro;
    font-style: normal;
    font-weight: 400;
    src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"),
        url("./fonts/sourcesanspro/sourcesanspro-regular.woff2") format("woff2"),
        url("./fonts/sourcesanspro/sourcesanspro-regular.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: source-sans-pro;
    font-style: normal;
    font-weight: 600;
    src: local("Source Sans Pro SemiBold"), local("SourceSansPro-SemiBold"),
        url("./fonts/sourcesanspro/sourcesanspro-semibold.woff2")
            format("woff2"),
        url("./fonts/sourcesanspro/sourcesanspro-semibold.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: noto-serif;
    font-style: normal;
    font-weight: 700;
    src: local("Noto Serif Bold"), local("NotoSerif-Bold"),
        url("./fonts/notoserif/notoserif-bold.woff2") format("woff2"),
        url("./fonts/notoserif/notoserif-bold.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: noto-serif;
    font-style: italic;
    font-weight: 700;
    src: local("Noto Serif Bold Italic"), local("NotoSerif-BoldItalic"),
        url("./fonts/notoserif/notoserif-bolditalic.woff2") format("woff2"),
        url("./fonts/notoserif/notoserif-bolditalic.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: noto-serif;
    font-style: normal;
    font-weight: 400;
    src: local("Noto Serif"), local("NotoSerif"),
        url("./fonts/notoserif/notoserif-regular.woff2") format("woff2"),
        url("./fonts/notoserif/notoserif-regular.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: noto-serif;
    font-style: italic;
    font-weight: 400;
    src: local("Noto Serif Italic"), local("NotoSerif-Italic"),
        url("./fonts/notoserif/notoserif-italic.woff2") format("woff2"),
        url("./fonts/notoserif/notoserif-italic.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: source-sans-pro;
    font-style: italic;
    font-weight: 400;
    src: local("Source Sans Pro Italic"), local("SourceSansPro-Italic"),
        url("./fonts/sourcesanspro/sourcesanspro-italic.woff2") format("woff2"),
        url("./fonts/sourcesanspro/sourcesanspro-italic.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: source-sans-pro;
    font-style: normal;
    font-weight: 400;
    src: local("Source Sans Pro"), local("SourceSansPro"),
        url("./fonts/sourcesanspro/sourcesanspro-regular.woff2") format("woff2"),
        url("./fonts/sourcesanspro/sourcesanspro-regular.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: source-sans-pro;
    font-style: normal;
    font-weight: 600;
    src: local("Source Sans Pro SemiBold"), local("SourceSansPro-SemiBold"),
        url("./fonts/sourcesanspro/sourcesanspro-semibold.woff2")
            format("woff2"),
        url("./fonts/sourcesanspro/sourcesanspro-semibold.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: source-sans-pro;
    font-style: italic;
    font-weight: 600;
    src: local("Source Sans Pro SemiBold Italic"),
        local("SourceSansPro-SemiBoldItalic"),
        url("./fonts/sourcesanspro/sourcesanspro-semibolditalic.woff2")
            format("woff2"),
        url("./fonts/sourcesanspro/sourcesanspro-semibolditalic.woff")
            format("woff");
}

@font-face {
    font-display: swap;
    font-family: source-sans-pro;
    font-style: normal;
    font-weight: 700;
    src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"),
        url("./fonts/sourcesanspro/sourcesanspro-bold.woff2") format("woff2"),
        url("./fonts/sourcesanspro/sourcesanspro-bold.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: fig-premium-mark;
    font-style: normal;
    font-weight: 400;
    src: local("Fig Premium Mark"), local("FigPremiumMark"),
        url("./fonts/fig/fig-premium-mark.woff2") format("woff2"),
        url("./fonts/fig/fig-premium-mark.woff") format("woff");
}
