<!DOCTYPE html><html data-scrapbook-source="https://gum.criteo.com/syncframe?origin=criteoPrebidAdapter&amp;topUrl=www.lefigaro.fr&amp;gdpr=1&amp;gdpr_consent=CQQN2kAQQN2kAACAKAENBjFsAP_gAEPgAAqIJvNF_G_dSSFj8Tp3YftkeY1H5dAz7sQxBgaJA6QFyBLUsJwXgmAAIAiqAKAKGBIAsgBAIQBlCADABUAAQIABISCMAEAQAQAAJiAEAEERAmJICBBJGQAgEAAQglgAABQAgAsESFooQMhAAIAABQAAAAAhAIABAAAIBDAAQAAAAAAAAkAAEAAAAAAAAAAEABAAAABAAAAAAAAAAAAAABBN4Akw0KiCAsiAEIhAwggQAqCIICKBAEAACQMEAACQIClAGAAAwAQAABQAABAAAAEEAAAAAAIAEIAAgACBAABAIBAAAAAAAAAAQAAAAAIAQAAAABACAEAAAAAAAAQAIAECEAAAIACAgAAAAEAIAAAAAAABAAAAAAAAAAAAAAAAAAAEgAAAAAAAAAAAAAAAAAAgAIAAAAAAAAAAAAAAIAAA.YAAAAAAAAAAA&amp;gpp="><head><meta charset="UTF-8">
    
</head>
<body marginwidth="0" marginheight="0">

</body></html>